.footerContain {
    position: absolute;
     bottom: 0;
    left: 0; 
    /* width: 100%; */
    /* overflow: hidden; */
    /* line-height: 0; */
    transform: rotate(180deg);
}

.footerContain svg {
    position: relative;
    display: block;
    width: calc(100% + 1.3px);
    height: 195px;
}

.footerContain .shape-fill {
    fill: #FFA5A4;
}
