@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Iran Sans";
  src: local("font") url("./assets/font/Iranian\ Sans.ttf");
}

body {
  margin: 0;
  font-family:"Iran Sans" ;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  direction: rtl;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.b-shadow{
  -webkit-box-shadow: 0px 0px 23px 0px rgba(168,165,168,0.88);
  -moz-box-shadow: 0px 0px 23px 0px rgba(168,165,168,0.88);
  box-shadow: 0px 0px 23px 0px rgba(168,165,168,0.88);
  }