@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Iran Sans";
  src: local("font") url("./assets/font/Iranian\ Sans.ttf");
}

body {
  margin: 0;
  font-family:"Iran Sans" ;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  direction: rtl;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
